/* CC */
.cc {
  background: no-repeat center/cover;
  background-image: url("/cc-bg.svg");
  width: 36rem;
  height: 23rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cc-bg {
  /* position: absolute;
  inset: 0;
  z-index: 0; */
}

.cc-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}